{% extends "layouts/list.html" %}
{% block list_container %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
{% endblock list_container %}
