[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
