[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-rest-registration = "*"
django-tailwind = {extras = ["reload"], version = "*"}
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
black = "*"
djlint = "*"
sphinx = "*"
myst-parser = "*"

[requires]
python_version = "3.10"
