{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Technical Demo">
    <meta name="keywords" content="Django, API, Tailwind, Vue">
    <meta name="author" content="Sabbir Ahmed Shourov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMS</title>
    {% tailwind_css %}
  </head>
  <body class="h-screen flex flex-col">
    {% block main_body %}
    {% endblock main_body %}
  </body>
</html>
