{% extends "base.html" %}
{% block content %}
    list
    object_list : {{ object_list }}
    <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <!-- Card Content -->
        <div class="p-6">
            <h2 class="text-xl font-semibold mb-2">Card Title</h2>
            <p class="text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tortor vestibulum, blandit quam id, vehicula libero.
            </p>
        </div>
    </div>
{% endblock content %}
