<div class="py-4 mb-4">
    <h1 class="text-3xl font-semibold mb-4 text-blue-600">
        {{ page_title|default:"Wellcome to Task Management System" }}
    </h1>
    <div class="bg-gray-200 py-2 px-4">
        <ol class="list-none p-0 inline-flex">
            {% for item in breadcrumb %}
                <li class="flex items-center">
                    <a href="{{ item.link }}" class="text-blue-600">{{ item.title|upper }}</a>
                    {% if not forloop.last %}
                        <svg class="h-5 w-auto text-gray-400 mx-2"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{{ breadcrumb }}
