{% extends "base.html" %}
{% block content %}
    <div class="flex flex-col flex-1 gap-6">
        <div class="flex flex-col flex-1 gap-4">
            {% block detail_container %}
            {% endblock detail_container %}
            <h3 class="text-2xl font-semibold">{{ child_header|default:"Childs" }}</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 flex-1">
                {% block list_container %}
                {% endblock list_container %}
            </div>
        </div>
        <div class="flex flex-col gap-4">
            {% block action_container %}
            {% endblock action_container %}
        </div>
    </div>
{% endblock content %}
