<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
    {% include "components/card/board.html" %}
</div
