Django==5.0.2
djangorestframework==3.14.0
Markdown==3.5.2
django-filter==23.5
djangorestframework-simplejwt==5.3.1
django-rest-registration==0.8.3
django-tailwind==3.8.0
django-browser-reload==1.12.1
whitenoise==6.6.0
myst-parser==2.0.0
Sphinx==7.2.6
furo==2024.1.29